@page "{handler?}"
@model RazorPages.Pages.DynamicModel
@{
}


<button id="load">
    @Html.AntiForgeryToken()
    Add Line Item
</button>

<form id="formData" method="post">

    <label asp-for="@Model.Data.Name"></label>
    <input asp-for="@Model.Data.Name" />
    <br />

    <div id="itemsContainer">
        <partial name="_LineItemsEditor" for="Data" />
    </div>

    <button type="submit">Submit</button>

</form>


@section Scripts {

    <script>
        $(function () {
            Dynamic.init();
        });
    </script>

}