<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RazorPages</title>
    <script src="~/js/site.js"></script>

</head>
<body>
    <header>
    </header>

    @RenderBody()

    <footer>
    </footer>


    <mini-profiler position="@RenderPosition.Right" max-traces="5" color-scheme="ColorScheme.Auto" nonce="45" />

    <script src="~/lib/jquery/dist/jquery.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
